*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-rubik: "Rubik", sans-serif;
    --bg-page: #807ECE;
    --bg-calc: #2D2A37;
    --result-color: #EBEBEB;
    --placeholder-color: #6B6B6B;
}

body {
    font-family: var(--ff-rubik);
    width: 100%;
    height: 100vh;
    background-color: var(--bg-page);
}

.hidden {
    display: none !important;
}

h1 {
    font: 400 2.25rem/1.4 var(--ff-rubik);
    letter-spacing: -0.02em;
    color: var(--result-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font: 400 1.25rem/1.4 var(--ff-rubik);
    letter-spacing: -0.02em;
    color: var(--placeholder-color);
}



