@import url(global.css);

.container {
    width: 55.8rem;
    height: 35.375rem;
    margin: 6.25rem auto;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 42% 58%;
    gap: 1.25rem;

    & > * {
        background-color: var(--bg-calc);
        border-radius: 1rem;
    }
}

.calc {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 188px 52px rgba(0, 0, 0, 0.01), 0px 120px 48px rgba(0, 0, 0, 0.04), 0px 68px 41px rgba(0, 0, 0, 0.15), 0px 30px 30px rgba(0, 0, 0, 0.26), 0px 8px 17px rgba(0, 0, 0, 0.29), inset 0px 6px 8px rgba(255, 255, 255, 0.1), inset 0px -4px 5px rgba(0, 0, 0, 0.22);

    & .calc-wrapper {
        width: 18.25rem;
        margin: 3.375rem auto 2rem;

        & > * {
            width: 15.5rem;
            margin-inline: auto;
        }
    }

    & .painel {
        & .last-operation {
            text-align: end;
            margin-bottom: .5rem;
        }

        & .result {
            display: flex;
            align-items: center;
            & h1 {
                margin-left: auto;
            }

            & .symbol{
                width: 1.25rem;
                height: 1.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
                & div {
                    width: 1rem;
                    height: 2px;
                    border-radius: 1px;
                    background-color: var(--placeholder-color);
                }
            }
        }
    }

    & .equal {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    & .mais {
        position: relative;
        & div {
            position: absolute;
            &:first-child {
                transform: rotate(90deg);
            }
        }
    }

    & .multiplicacao {
        position: relative;
        & div {
            position: absolute;

            &:first-child {
                transform: rotate(45deg);
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    & .divisao {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        & div:first-child, div:last-child {
            width: .25rem !important;
            height: .25rem !important;
            border-radius: 50% !important;
        }
    }
}

.history {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 188px 52px rgba(0, 0, 0, 0.01), 0px 120px 48px rgba(0, 0, 0, 0.04), 0px 68px 41px rgba(0, 0, 0, 0.15), 0px 30px 30px rgba(0, 0, 0, 0.26), 0px 8px 17px rgba(0, 0, 0, 0.29), inset 0px 6px 8px rgba(255, 255, 255, 0.1), inset 0px -4px 5px rgba(0, 0, 0, 0.22);
}
